{{ $st := .page }}
{{ $hash_id := .hash_id }}
{{ $bg := $st.Params.design.background }}
{{ $bg_position := $bg.image_position | default "center top" }}

<style>
{{ if $bg.image_small }}
{{ $bg_small := printf "img/%s" $bg.image_small | absURL }}
@media screen and (max-width: 600px) {
  section#{{ $hash_id }} {
    background-image: {{ printf "url('%s')" $bg_small | safeCSS }} !important;
    background-position: center center !important;
  }
}
{{ end }}

@supports (-webkit-overflow-scrolling: touch) {
  section#{{ $hash_id }} {
    background-attachment:scroll;
  }
}

section#{{ $hash_id | safeCSS }} {
  height: calc(100vh - 70px);
  background-position: {{ $bg_position | safeCSS }};
}
</style>
<div class="row"></div>
