{{ $st := .page }}
{{ $hash_id := .hash_id }}
{{ $bg := $st.Params.design.background }}
{{ $bg_position := $bg.image_position | default "center top" }}
{{ $bg_small := printf "img/%s" $bg.image_small | absURL }}

<style>
{{ if $bg_small }}
@media screen and (max-width: 600px) {
  section#{{ $hash_id }} {
    background-image: {{ printf "url('%s')" $bg_small | safeCSS }} !important;
    background-position: center center !important;
  }
}
{{ end }}

section#{{ $hash_id | safeCSS }} {
  height: 100vh;
  background-position: {{ $bg_position | safeCSS }};
}
</style>
<div class="row"></div>
